html {
    font-size: 16px;
    height: 100%;
}

body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.perfil{
    font-weight: 900;
    background-color: #ffffff50;
    padding: 1rem;
    border-radius: 50%;
}

header {
    width: 100%;
    background-color: #8a05be;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.container {
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 0;
    box-shadow: none;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.start
{
    text-align: start;
    margin-left: 1em;
}
.saldo, .cartoes, .notificacoes, .cartao-credito {
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    color: #333;
}

.valor {
    font-size: 22px;
    font-weight: bold;
    color: #000;
}

.botoes {
    display: flex;
    gap: 10px;
    margin-bottom: 1em;
    justify-content: space-between;
    align-items: center;
    justify-items: stretch;

}

.grupo{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.button-title{
    list-style: none;
    margin: 0.5em;
    font-weight: bold;
}

.botoes button {
    width: 5em;
    height: 5em;
    padding: 10px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.botoes button:hover {
    background-color: #d6d6d6;
}

.cartao-item {
    font-weight: bold;
    background-color: #f0f0f0;
    padding: 1em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.notificacoes {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
}

.destaque {
    color: #8a05be;
    font-weight: bold;
}

footer {
    width: 100%;
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    left: 0;
}

footer i {
    color: #8a05be;
    font-size: 22px;
    cursor: pointer;
    transition: color 0.3s ease;
}

footer i:hover {
    color: #6c0393;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 15px;
    }
}